extends layout

block content
    h1= title
    table()
        tr
            td uid
            td= user.uid
        tr
            td name
            td= user.name
        tr
            td phone
            td= user.phone
        tr
            td email
            td= user.email
    a(href="/users/delete/" + user.uid) 삭제 &nbsp; &nbsp;
    a(href="/users/update/" + user.uid) 수정